/* @font-face {
  font-family: 'Playfair Display';
  src: url('fonts/playfair-display.woff2') format('woff2'),
       url('fonts/playfair-display.woff') format('woff'),
       url('fonts/playfair-display.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    font-size: 16px;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px; /* Tamaño de fuente reducido para pantallas pequeñas */
  }
}

/* Media query para pantallas muy pequeñas */
@media screen and (max-width: 480px) {
  body {
    font-size: 12px; /* Tamaño de fuente aún más reducido para pantallas muy pequeñas */
  }
}

.home_background{
    background-image: url("../img/fondos/fondo_zapatilla_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: whitesmoke;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    /* justify-content: center;
    align-items: center; */
}

.home_background a{
    text-decoration: none;
    color: rgb(49, 44, 44);
    font-size: 20px;
    font-weight: bold;
}

div#home_background{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    height: 100vh;
}

header{
    /* background-color: black; */
    /* display: inline-block; */
}

.block-header {
    background-color: transparent;
    padding: 10px;
  }

div.header-background{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header_logo img {
    width: 100%;
    max-height: 100px;
}

/* .logo_home{
    width: 80px;
} */

.header__menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.header__menu ul li{
    margin-right: 20px;
}

.header__menu ul li:last-child{
    margin-right: 0;
}

.header__menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.header__menu ul li a:hover{
    color: rgb(121, 121, 121);
    text-decoration: underline;
}

.bloque0{
    /* position: fixed; */
    background-color: transparent;
    padding: 50px;
    text-align: left;
    margin-top: 100px;
    /* width: 50%; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; */
}

.bloque0__title h1{
    font-size: 64px;
    font-weight: lighter;
    font-family: 'Playfair Display', sans-serif;
    text-align: left;
    /* margin-top: 50px; */
    margin-bottom: 32px;
    color: rgb(221, 221, 221);
}

div.bloque0__subtitle{
    width: auto;
}

.bloque0__subtitle p{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Montserrt', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(73, 73, 73);
}

.bloque0__button a{
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    display: inline-block;
    padding: 15px 30px;
    background-color: rgb(63, 63, 63);
    color: whitesmoke;
    text-decoration: none;
    border-radius: 10px;
}

.bloque0__button a:hover{
    background-color: rgb(121, 121, 121);
    color: whitesmoke;
}

.bloque1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.bloque1__title{
    margin-bottom: 50px;
}

.bloque1 span{
    font-weight: lighter;
    color: rgb(35, 35, 35);
    font-size: 56px;
    font-family: 'Playfair Display', sans-serif;
}

/* contenido */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas con el mismo tamaño */
    gap: 30px; /* Espaciado entre las imágenes */
    margin: 0 50px 0 50px;
}
  
.image-grid img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

footer{
    background-color: rgb(63, 63, 63);
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__column {
    flex: 1;
    color: white;
    margin: 0 10px;
}
  
.footer__column h3 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: lighter;
}

.footer__column p {
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: lighter;
}

.footer__column a {
    color: white;
    text-decoration: none;
}

.footer__column form {
display: flex;
flex-direction: column;
align-items: left;
}

.form__field {
    margin-bottom: 10px;
}

.footer__column input {
    padding: 15px;
    /* margin-right: 10px; */
    border: none;
    border-radius: 5px;
}

.footer__column button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(59, 59, 59);
    border: none;
    border-radius: 5px;
}